database/mysql


# Nuxt dev/build outputs
rudy/.output
rudy/.data
rudy/.nuxt
rudy/.nitro
rudy/.cache
rudy/dist

# Node dependencies
rudy/node_modules

# Logs
rudy/logs
rudy/*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

rudy/.env
rudy/.env.*
!rudy/.env.example
